body {
  background-color: #38444D;
  color: blueviolet;
  padding: auto;
  margin: 25px;
  position: absolute;
}
form {
  background-color: #E7E9EB;
  justify-content: center;
  padding: 30px 20px 70px;
  margin-top: 50px;
  margin-left: 20px ;
  margin: bottom 50px; ;
  margin: right 20px; ;
}
h1 {
    color: teal;
}

button {
  background-color: aqua;
  border-style: none;
  
}
